<IfModule mod_rewrite.c>
   RewriteEngine On 
   RewriteBase /redcross/ 
   RewriteCond %{REQUEST_FILENAME} !-f
   RewriteCond %{REQUEST_FILENAME} !-d
   RewriteRule ^(.*)$ /redcross/index.php/$1 [L] 
</IfModule>